<a href="https://colab.research.google.com/github/evacs/Project-4-MovieRec/blob/main/Movie_schema.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.23)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.9)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [63]:
!pip install db-sqlite3

Requirement already satisfied: db-sqlite3 in /usr/local/lib/python3.10/dist-packages (0.0.1)
Requirement already satisfied: db in /usr/local/lib/python3.10/dist-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in /usr/local/lib/python3.10/dist-packages (from db->db-sqlite3) (1.2.1)

In [64]:
import sqlite3
import pandas as pd
import os

In [65]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [66]:
conn = sqlite3.connect('movieRatings.db')

In [67]:
%%sql
CREATE TABLE movies (
    movieId INT PRIMARY KEY,
    title VARCHAR(255),
    genre VARCHAR(255)
);

 * sqlite://
(sqlite3.OperationalError) table movies already exists
[SQL: CREATE TABLE movies (
    movieId INT PRIMARY KEY,
    title VARCHAR(255),
    genre VARCHAR(255)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [68]:


# List files in the current directory
files = os.listdir('.')
files

['.config',
 'ratings.csv',
 'links.csv',
 'movieRatings.db',
 'movies.csv',
 '.ipynb_checkpoints',
 'tags.csv']

In [69]:
csv_file_path = 'movies.csv'  # Replace with the path to your CSV file
table_name = 'movies'  # Replace with your desired table name

# Read the CSV file using pandas
movies_df = pd.read_csv(csv_file_path)

# Write the data to the SQLite database
movies_df.to_sql(table_name, conn, if_exists='replace', index=False)

9742

In [70]:
query = f"SELECT * FROM {table_name};"
result = pd.read_sql(query, conn)
print(result)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

In [71]:
%%sql
CREATE TABLE links (
    movieId INT,
    imdbId INT,
    tmdbId INT,
    FOREIGN KEY (movieId) REFERENCES movies(movieId)
);

 * sqlite://
(sqlite3.OperationalError) table links already exists
[SQL: CREATE TABLE links (
    movieId INT,
    imdbId INT,
    tmdbId INT,
    FOREIGN KEY (movieId) REFERENCES movies(movieId)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [72]:
%%sql
CREATE TABLE ratings (
    userId INT,
    movieId INT,
    rating INT,
    timestamp INT,
    FOREIGN KEY (movieId) REFERENCES movies(movieId)
);

 * sqlite://
(sqlite3.OperationalError) table ratings already exists
[SQL: CREATE TABLE ratings (
    userId INT,
    movieId INT,
    rating INT,
    timestamp INT,
    FOREIGN KEY (movieId) REFERENCES movies(movieId)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [73]:
%%sql
CREATE TABLE tags (
    userId INT,
    movieId INT,
    tag VARCHAR(255),
    timestamp INT,
    FOREIGN KEY (movieId) REFERENCES movies(movieId)
);

 * sqlite://
(sqlite3.OperationalError) table tags already exists
[SQL: CREATE TABLE tags (
    userId INT,
    movieId INT,
    tag VARCHAR(255),
    timestamp INT,
    FOREIGN KEY (movieId) REFERENCES movies(movieId)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [74]:
csv_file_path = 'ratings.csv'  # Replace with the path to your CSV file
table_name = 'ratings'  # Replace with your desired table name

# Read the CSV file using pandas
ratings_df = pd.read_csv(csv_file_path)

# Write the data to the SQLite database
ratings_df.to_sql(table_name, conn, if_exists='replace', index=False)

100836

In [75]:
csv_file_path = 'links.csv'  # Replace with the path to your CSV file
table_name = 'links'  # Replace with your desired table name

# Read the CSV file using pandas
links_df = pd.read_csv(csv_file_path)

# Write the data to the SQLite database
links_df.to_sql(table_name, conn, if_exists='replace', index=False)

9742

In [76]:
csv_file_path = 'tags.csv'  # Replace with the path to your CSV file
table_name = 'tags'  # Replace with your desired table name

# Read the CSV file using pandas
tags_df = pd.read_csv(csv_file_path)

# Write the data to the SQLite database
tags_df.to_sql(table_name, conn, if_exists='replace', index=False)

3683

In [77]:
table_name = "links"
query = f"SELECT * FROM {table_name};"
result = pd.read_sql(query, conn)
print(result)

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [ ]:
# GIVES AN ERROR-IGNORE IT
# Split the genre column into separate columns
genres_split = movies_df['genres'].str.get_dummies('|')

# Concatenate the split genres DataFrame with the original movies DataFrame
movies_df = pd.concat([movies_df, genres_split], axis=1)

# Drop the original genre column
movies_df = movies_df.drop('genres', axis=1)

# Fill NaN values with 0 in the new genre columns
movies_df = movies_df.fillna(0).astype(int)

In [80]:
movies_df.loc[movies_df['title'] == 'Toy Story (1995)']

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
movies_df.head()

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
# genres = ["Action", "Adventure","Animation","Children's","Comedy", "Crime", "Documentary", "Drama","Fantasy","Film-Noir", "Horror",
# "Musical","Mystery","Romance","Sci-Fi","Thriller", "War","Western","(no genres listed)"]

In [83]:
# Assuming 'movies_df' is your DataFrame

# Filter the DataFrame to get movies with 'No genres listed' (1 in the column)
no_genres_movies = movies_df[movies_df['(no genres listed)'] == 1]

# Extract the titles of these movies
titles_with_no_genres = no_genres_movies['title']

# Display the list of titles
movies_df = movies_df[movies_df['(no genres listed)'] != 1]

In [84]:
movies_df = movies_df.drop('IMAX', axis=1)

In [85]:
movies_df.to_sql('movies', conn, if_exists='replace', index=False)

9708

In [89]:
%%sql
SELECT * FROM links
LIMIT 10;

 * sqlite://
Done.

[]

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
movies_df = movies_df.drop('(no genres listed)', axis=1)
movies_df.to_sql('movies', conn, if_exists='replace', index=False)

In [94]:
movies_df.to_sql('movies', conn, if_exists='replace', index=False)

9708

In [95]:
# Connect to your SQLite database
conn = sqlite3.connect('movieRatings.db')  # Replace with your database name

# SQL query to select the first few rows (e.g., first 5 rows) from the table
query = "SELECT * FROM movies LIMIT 5"  # Replace with your table name

# Use Pandas to execute the SQL query and display the result
result = pd.read_sql(query, conn)
result

,movieId,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [96]:
# # Connect to your SQLite database
# conn = sqlite3.connect('your_database.db')  # Replace with your database name

# SQL query to join the "movies" and "ratings" tables based on the "movieId" column
query = """
SELECT m.*, r.userId, r.rating, r.timestamp
FROM movies AS m
INNER JOIN ratings AS r ON m.movieId = r.movieId
"""

# Use Pandas to execute the SQL query and display the result
result = pd.read_sql(query, conn)
result

,movieId,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,userId,rating,timestamp
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,1,4.0,964982703
1,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,5,4.0,847434962
2,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,7,4.5,1106635946
3,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,15,2.5,1510577970
4,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,17,4.5,1305696483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100784,193581,Black Butler: Book of the Atlantic (2017),1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,184,4.0,1537109082
100785,193583,No Game No Life: Zero (2017),0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,184,3.5,1537109545
100786,193585,Flint (2017),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,184,3.5,1537109805
100787,193587,Bungo Stray Dogs: Dead Apple (2018),1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,184,3.5,1537110021
100788,193609,Andrew Dice Clay: Dice Rules (1991),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,331,4.0,1537157606

In [ ]:
# Drop timestamps from all tables

In [ ]:
# drop tmdb

In [ ]:
# find top 5 movies in each genre